{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-standard-vue",
    "stylelint-config-recess-order",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "max-empty-lines": 1,
    "at-rule-empty-line-before": [
      "always", {
        "except": [
          "inside-block",
          "blockless-after-blockless"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "color-hex-case": "lower",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-semicolon-space-before": "never",
    "no-empty-first-line": true,
    "no-eol-whitespace": true,
    "no-descending-specificity": [
      true, {
        "ignore": ["selectors-within-list"]
      }
    ],
    "number-max-precision": 5,
    "annotation-no-unknown": null,
    "no-empty-source": null,
    "selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$",
    "scss/dollar-variable-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$"
  }
}